{{/*apiVersion: batch/v1*/}}
{{/*kind: Job*/}}
{{/*metadata:*/}}
{{/*  name: {{ include "kubernetes-operator.fullname" . }}-delete-router-deployments*/}}
{{/*  labels:*/}}
{{/*    app.kubernetes.io/component: operator*/}}
{{/*    {{- include "kubernetes-operator.labels" . | nindent 4 }}*/}}
{{/*  annotations:*/}}
{{/*    helm.sh/hook: pre-delete*/}}
{{/*    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded*/}}
{{/*spec:*/}}
{{/*  backoffLimit: 3*/}}
{{/*  template:*/}}
{{/*    metadata:*/}}
{{/*      name: {{ include "kubernetes-operator.fullname" . }}*/}}
{{/*      labels:*/}}
{{/*        app.kubernetes.io/component: operator*/}}
{{/*        {{- include "kubernetes-operator.labels" . | nindent 8 }}*/}}
{{/*        {{- with .Values.operator.podLabels }}*/}}
{{/*        {{- toYaml . | nindent 8 }}*/}}
{{/*        {{- end }}*/}}
{{/*    spec:*/}}
{{/*      containers:*/}}
{{/*      - name: pre-delete*/}}
{{/*        image: "netbirdio/kubectl:latest"*/}}
{{/*        imagePullPolicy: {{ .Values.operator.image.pullPolicy }}*/}}
{{/*        command:*/}}
{{/*          - sh*/}}
{{/*          - -c*/}}
{{/*        args:*/}}
{{/*          - kubectl get NBRoutingPeer -A --no-headers -o custom-columns=NAMESPACE:.metadata.namespace,NAME:.metadata.name | while read "L"; do kubectl patch --type=json -p '[{"op":"replace","path":"/spec/disableDeployment","value":true}]' NBRoutingPeer -n $(echo "$L" | awk '{print $1}') $(echo "$L" | awk '{print $2}'); done*/}}
{{/*      - name: delete-wait*/}}
{{/*        image: "netbirdio/kubectl:latest"*/}}
{{/*        imagePullPolicy: {{ .Values.operator.image.pullPolicy }}*/}}
{{/*        command:*/}}
{{/*          - sh*/}}
{{/*          - -c*/}}
{{/*        args:*/}}
{{/*          - kubectl get NBRoutingPeer -A --no-headers -o custom-columns=NAMESPACE:.metadata.namespace,NAME:.metadata.name | while read "L"; do kubectl wait --for=delete deployment -n $(echo "$L" | awk '{print $1}') $(echo "$L" | awk '{print $2}'); done*/}}
{{/*      serviceAccountName: {{ include "kubernetes-operator.serviceAccountName" . }}*/}}
{{/*      restartPolicy: Never*/}}
